@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-3 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active">@Html.ActionLink("Edit", "Edit", "Admin")</li>
            @*<li>@Html.ActionLink("Preview", "Preview", "Admin")</li>*@
            <li>@Html.ActionLink("Accounts", "UserDetails", "User")</li>
            <li>@Html.ActionLink("Settings", "Settings", "User")</li>
            <li>@Html.ActionLink("Logout", "Logout", "Auth")</li>
        </ul>
</div>
    <div class="col-lg-6">
        @RenderBody()
    </div>
    <div class="col-lg-3"></div>
</div>