@model MyApp.Areas.Admin.Models.PreviewPartialViewModel
@{
    ViewBag.Title = "PortfolioIndex";
    Layout = null;
}

@section scripts {
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/portfolio/css/style.css")" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
}

<header class="main-visual">
    <h1 class="main-visual-title">@Model.Title</h1>
    <p class="main-visual-description">@Model.Description</p>
</header>
<section class="contents">
    <h2><img src="/Content/img/about-header.gif" width="134" height="55" alt="about"></h2>
    <h3><img src="/Content/img/profile.gif" width="185" height="184" alt="profile"></h3>
    <p>
        @Model.Profile_1
    </p>
    <p>
        @Model.Profile_2
    </p>
</section>
<section class="contents">
    <h2><img src="/Content/img/hobby-header.gif" width="134" height="55" alt="hobby"></h2>
    <ul class="hobby-container">
        <li class="hobby-item">
            <img src="/Content/img/hobby01.gif" width="178" height="178" alt="mobile">
            <h3 class="hobby-title">アプリケーション開発</h3>
            <h4 class="hobby-subtitle">DEVELOP</h4>
            <p>iPhone、Androidなどスマートフォン向けのネイティブアプリの開発を行っています</p>
        </li>
        <li class="hobby-item">
            <img src="/Content/img/hobby02.gif" width="178" height="178" alt="photo">
            <h3 class="hobby-title">フォトグラフ</h3>
            <h4 class="hobby-subtitle">PHOTO</h4>
            <p>主に風景写真を中心に撮影をして、フォトコンテストの応募やホームページ用の素材として販売しています</p>
        </li>
        <li class="hobby-item">
            <img src="/Content/img/hobby03.gif" width="178" height="178" alt="game">
            <h3 class="hobby-title">オンラインゲーム</h3>
            <h4 class="hobby-subtitle">ONLINE GAME</h4>
            <p>スマートフォン用オンライン対戦FPSが得意で週末は友人達と集まってプレイしています</p>
        </li>
    </ul>
</section>
<section class="contents">
    <h2><img src="/Content/img/garelly-header.gif" width="173" height="56" alt="garelly"></h2>
    <ul class="garelly-container">
        <li class="garelly-item">
            <img src="/Content/img/garelly01.jpg" alt="garelly-photo01">
        </li>
        <li class="garelly-item">
            <img src="/Content/img/garelly02.jpg" alt="garelly-photo02">
        </li>
        <li class="garelly-item">
            <img src="/Content/img/garelly03.jpg" alt="garelly-photo03">
        </li>
        <li class="garelly-item">
            <img src="/Content/img/garelly04.jpg" alt="garelly-photo04">
        </li>
        <li class="garelly-item">
            <img src="/Content/img/garelly05.jpg" alt="garelly-photo05">
        </li>
        <li class="garelly-item">
            <img src="/Content/img/garelly06.jpg" alt="garelly-photo06">
        </li>
        <li class="garelly-item">
            <img src="/Content/img/garelly07.jpg" alt="garelly-photo07">
        </li>
        <li class="garelly-item">
            <img src="/Content/img/garelly08.jpg" alt="garelly-photo08">
        </li>
        <li class="garelly-item">
            <img src="/Content/img/garelly09.jpg" alt="garelly-photo09">
        </li>
    </ul>
</section>
<footer class="footer">
    <p class="footer-copylight">COPYRIGHT Sample Site All Rights Reserved.</p>
</footer>

